
@model List<CB.ENTIDADES.NotiPreventivo>

<table id="example" class="display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Cod Cliente</th>
            <th>Nombre</th>
            <th>
                Periodo
            </th>
            <th>Mensaje</th>
            <th>TipoAccion</th>
            <th>FechaReg</th>
            <th>UsrCre</th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            foreach (var item in Model)
            {
        <tr>
            <td>@item.CodCliente</td>
            <td>@item.Nombre</td>
            <td>@item.Periodo</td>
            <td>@item.Mensaje</td>
            @switch (item.TipoAccion)
            {
                case 1:


                    <td> Mensaje </td>

                    break;
                case 2:
                    <td> Telefono </td>

                    break;
                case 3:
                    <td> Coreo </td>

                    break;
                default:
                    <td> Coreo </td>
                    break;
            }

            <td>@item.FechaReg</td>
            <td>@item.UsrCre</td>

        </tr>

            }
        }
    </tbody>

</table>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
