<!-- Main content -->
@{
    var idop = ViewBag.idopracion;
    var idcl = ViewBag.idclient;


}
@model CB.BACKOFICEOFICIAL.Clases.Imprimir
<div class="modal-dialog">
    <div class="modal-content">
        @if (Model != null)
        {
            <div class="box box-primary">
                <div class="box-header with-border" style="overflow-y:auto">
                    <section class="invoice">
                        <!-- title row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">
                                    <i class="fa fa-globe"></i> Constructora Obelisco, LTDA.
                                    <small class="pull-right">@ViewBag.fecha</small>
                                </h2>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- info row -->
                        <div class="row invoice-info">
                            <div class="col-sm-12 invoice-col">
                                <b>Datos generales</b><br>
                                <br>
                                <b>Nombre:</b> @Model.cliente.NombreP<br>
                                <b>Apellidos:</b> @Model.cliente.Apellido<br>
                                <b>CI:</b> @Model.cliente.CI <br>
                                <b>Cod Cliente:</b> @Model.cliente.CodCliente <br>
                                <b>Teelfono:</b> @Model.cliente.Telefono
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->


                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-12">
                                <p class="lead">Detalle de Oparacion Cobranza</p>
                                <div class="col-sm-12 invoice-col">
                                    <b>Operacion ID:</b> @Model.operacion.operacionCobranzaID<br>
                                    <b>Usuario:</b> @Model.operacion.UsrCre<br>
                                    <b>Fecha Compromiso:</b> @Model.operacion.FechaCompromiso<br>
                                    <b>Causal Anterior Mora:</b> @Model.operacion.CausalMoraAnt <br>
                                    <b>Causal Mora:</b> @Model.operacion.NombreCausal <br>
                                    <b>Compromido de Pago:</b> @Model.operacion.compromisoPago<br>
                                    <b>Tipo de Gestion:</b> @Model.operacion.nombreparametro<br>
                                    <b>Presencia del Cliente:</b> @Model.operacion.nombrepresencia<br>
                                    <b>Probalidad de Pago:</b> @Model.operacion.nombreprobalidadPago<br>
                                    <b>Comentario:</b> @Model.operacion.Comentario
                                </div>
                            </div>
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                            <div class="col-xs-12">
                                <a href="@Url.Action("Printf", "Operaciones", new { idclient=idcl,idoperacion=idop })" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
                                <button type="button" class="btn btn-success pull-right">
                                    <i class="fa fa-credit-card"></i> Submit Payment
                                </button>
                                <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                                    <i class="fa fa-download"></i> Generate PDF
                                </button>
                            </div>
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->
                </div>
            </div>
        }

    </div>
</div>
