@using CB.ENTIDADES

@model List<DetalleFase>

<table id="example1" class="table  table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Telefono
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cantidad couta

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var cods = item.CodCliente.Split(':');
            var act = cods[1];
            var cod = cods[0];
            if (item.CantidadCouta == 1)
            {
                <tr style="background-color:green">
                    <td>
                        @cod
                    </td>
                    <td>
                        @item.NombreCompleto
                    </td>
                    <td>
                        @item.Telefono
                    </td>
                    <td>
                        @item.Fecha
                    </td>
                    <td>
                        @item.CantidadCouta
                    </td>

                    <td>
                        @if (act != "0")
                        {
                            @*<button type="button" data-id="@cod" onclick="sms(@cod);" class="btn btn-xs btn-default"><i class="fa fa-comment"></i> &nbsp;</button>*@
                            <button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-default"><samp class="glyphicon glyphicon-eye-open" /> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="call(@cod);" class="btn btn-xs btn-danger"><i class="fa fa-tty"></i>&nbsp;</button>*@
                        }
                        else
                        {
                            <button type="button" data-id="@cod" onclick="sms(@cod);" class="btn btn-xs btn-default"><i class="fa fa-comment"></i> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-warning"><i class="fa fa-envelope-o"></i>&nbsp;</button>*@
                            <button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-default"><samp class="glyphicon glyphicon-eye-open" /> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="call(@cod);" class="btn btn-xs btn-danger"><i class="fa fa-tty"></i>&nbsp;</button>*@
                        }

                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @cod
                    </td>
                    <td>
                        @item.NombreCompleto
                    </td>
                    <td>
                        @item.Telefono
                    </td>
                    <td>
                        @item.Fecha
                    </td>
                    <td>
                        @item.CantidadCouta
                    </td>

                    <td>
                        @if (act != "0")
                        {
                            @*<button type="button" data-id="@cod" onclick="sms(@cod);" class="btn btn-xs btn-default"><i class="fa fa-comment"></i> &nbsp;</button>*@
                            <button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-default"><samp class="glyphicon glyphicon-eye-open" /> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="call(@cod);" class="btn btn-xs btn-danger"><i class="fa fa-tty"></i>&nbsp;</button>*@
                        }
                        else
                        {
                            <button type="button" data-id="@cod" onclick="sms(@cod);" class="btn btn-xs btn-default"><i class="fa fa-comment"></i> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-warning"><i class="fa fa-envelope-o"></i>&nbsp;</button>*@
                            <button type="button" data-id="@cod" onclick="email(@cod);" class="btn btn-xs btn-default"><samp class="glyphicon glyphicon-eye-open" /> &nbsp;</button>
                            @*<button type="button" data-id="@cod" onclick="call(@cod);" class="btn btn-xs btn-danger"><i class="fa fa-tty"></i>&nbsp;</button>*@
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>

    $(document).ready(function (e) {
        $('#example1').DataTable({
            "order": [[4, "asc"]]
        })
    });
</script>