@model List<CB.ENTIDADES.NotiPreventiva>

<table id="example1" class="table  table-bordered table-hover dataTable" >
    <thead>
        <tr>
            <th>Cod Cliente</th>
            <th>Nombre</th>
            <th>
                Codigo
            </th>
            <th>
                Nro Cuota
            </th>
            <th>Fecha</th>
            <th>Cuota</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            foreach (var personaAsigandas in Model.OrderBy(s => s.Nombre))
            {
                <tr>
                    <td>@personaAsigandas.CodCliente</td>
                    <td>@personaAsigandas.Nombre</td>
                    <td>@personaAsigandas.Codigo</td>

                    <td>@personaAsigandas.NroCuota</td>
                    <td>@personaAsigandas.Fecha</td>
                    <td>@personaAsigandas.TotalCuota</td>
                    <td>
                        <button type="button" data-id="@personaAsigandas.CodCliente" onclick="sms(@personaAsigandas.CodCliente);" class="btn btn-xs btn-default"><i class="fa fa-comment"></i> &nbsp;</button>
                        <button type="button" data-id="@personaAsigandas.CodCliente" onclick="email(@personaAsigandas.CodCliente);" class="btn btn-xs btn-warning"><i class="fa fa-envelope-o"></i>&nbsp;</button>
                        <button type="button" data-id="@personaAsigandas.CodCliente" onclick="call(@personaAsigandas.CodCliente);" class="btn btn-xs btn-danger"><i class="fa fa-tty"></i>&nbsp;</button>
                    </td>
                </tr>

            }
        }
    </tbody>

</table>
<script>
    $(function () {
        $('#example1').DataTable();
    })

</script>
