
@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lista = (List<CB.ENTIDADES.DetalleFase>)ViewBag.lista;
}


<section class="content-header">
    <h1>
        Listado de Clientes
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Notoficacion Preventiva</h3>
                    <input type="hidden" id="fase" name="fase" value="@ViewBag.fase" />
                                        <!-- /.input group -->

                    <input class="btn btn-primary   pull-right   margin-r-5" type="submit" value="Exportar excel" onclick="ExportToExcel();" />
                </div>
                <div class="box-body" id="ListaContenidosContainer">

                    @Html.Partial("_listNotificaciones",lista)
                </div>
            </div>
        </div>
    </div>

    <div id="emailmodal" class="modal fade in">
        @Html.Partial("_Coreo")
    </div>
</section>
<script>

    function email(id) {
        $.ajax({
            url: "@Url.Action("Email","Home")",
            cahe: false,
            data: {},
            type: "GET"
        }).done(function (html) {
            $("#emailmodal").html(html);
            $('#emailmodal').modal('show');
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log("complete the operation")
        });

    }
    function sms(id) {

    }
    function call(id) {

    }
    function showMadalAsiganar() {
        $('#emailmodal').modal('show');
       // CagarDatos();
    }
    var sw = 0;
    function filtro() {
        var dt = $('#datepicker').val();
        var f = new Date(dt);
        if (typeof dt != 'undefined' || dt != "") {
            if (sw == 0) {
                var gridDiv = document.querySelector('#gridDetalle');
                createGlobal(gridOptionsDetalle, gridDiv);
                sw = 1;
            } else {
                destroyGlobal(gridOptionsDetalle)
                var gridDiv = document.querySelector('#gridDetalle');
                createGlobal(gridOptionsDetalle, gridDiv);
            }
            var ft = JSON.stringify({ fecha: f.toISOString() });
            $.ajax({
                url: "@Url.Action("BuscarFecha", "Home")",
                cache: false,
                data: ft,
                type: "POST"
            }).done(function (html) {
                setDataSource(html, gridOptionsDetalle);
                // gridOptionsAsignadas.api.setRowData(html);
            }).fail(function (resp) {
                console.log(resp.responseText);
            }).always(function () {
                console.log(" se ha completado");
            });
        } else {
            $('#datepicker').focus();
            Error("selecione fecha o campo fecha esta vacio");
        }
    }
    function ViewAll() {
        if (sw == 0) {
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
            sw = 1;
        } else {
            destroyGlobal(gridOptionsDetalle)
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
        }
        $.ajax({
            url: "@Url.Action("All", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }

    var columnDefsDetalle = [
        { headerName: 'Couta fija', field: 'MontoCuota', aggFunc: 'sum' },
        { headerName: 'Interes Mora', field: 'SaldoCuota', aggFunc: 'sum' },
        { headerName: 'CantidadCouta', field: 'CantidadCouta', aggFunc: 'count', hide: true, sort: 'asc' },
        { headerName: 'Total', field: 'total', valueGetter: 'data.MontoCuota + data.SaldoCuota', aggFunc: 'sum' },
        { headerName: 'Nro Cuota', field: 'NroCuota' },
        { headerName: 'Telefono', field: 'Telefono' },
        { headerName: 'Fecha Pago', field: 'Fecha'},

        { field: 'NombreCompleto', cellRenderer: 'stateCellRenderer', rowGroup: true, hide: true }
    ];
    var gridOptionsDetalle = {
        components: {
            //cityCellRenderer: cityCellRenderer,
            //countryCellRenderer: countryCellRenderer,
            stateCellRenderer: stateCellRenderer
        },
        columnDefs: columnDefsDetalle,
        defaultColDef: {
            width: 150
        },

        enableRangeSelection: true,
        enableSorting: true,
        enableColResize: true,
        enableFilter: true,
        onRowSelected: onRowSelected,

        //onSelectionChanged: onSelectionChanged,
       // suppressRowClickSelection: true,
        autoGroupColumnDef: {
            headerName: 'Cod Cliente',
            width: 300,
            field: 'CodCliente',
            cellRenderer: 'agGroupCellRenderer',
            cellRendererParams: {
               checkbox: true
            }
        },
       // getRowStyle: getRowStyleScheduled,
        groupIncludeFooter: true,
        groupIncludeTotalFooter: true,
        animateRows: true

    };
    function stateCellRenderer(params) {
        debugger;
        if (params.value === undefined || params.value === null) {
            return '';
        } else {
            var cant = params.value;
            if (cant != 0) {
                var flag = '<img border="0" width="15" height="10" src="https://www.ag-grid.com/images/goldStar.png">';
                return flag + ' ' + params.value;
            }
            else
                return params.value;

        }

    }
    function onRowSelected(event) {
        var id = event.node.data.CodCliente;
      GetCliente(id);
      //  window.alert("row " + event.node.data.CodCliente + " selected = " + event.node.selected);
       // showMadalAsiganar();
    }
    function GetCliente(id) {
           $.ajax({
            url: "@Url.Action("Getdatos", "Home")",
            cache: false,
            data: {id: id},
            type: "POST"
        }).done(function (html) {
            $("#emailmodal").html(html);
            $('#emailmodal').modal('show');

            //setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }

    function onSelectionChanged(event) {
        var rowCount = event.api.getSelectedNodes().length;
       // showMadalAsiganar();
        window.alert('selection changed, ' + rowCount + ' rows selected' + event.node.data.CodCliente+'');
    }
    function getRowStyleScheduled(params) {
        debugger;
         var br;
         switch (params.data.CantidadCouta) {
             case 1:
                 br = { background: 'lightgreen' }
                break;
             case 2:
                 br = { background: 'green' }
                break;
             case 3:
                br = { background: 'yellow' }
                break;
             case 4:
                br = { background: 'gold' }
                break;
             default:
                br = { background: 'red' }
                break;
        }
        return br;
    }
    function currencyFormatter(params) {
        var dt = params.Fecha;
        if (typeof dt == 'undefined') {
            return '';
        } else {
            return toDateFromAspNet(dt);
        }

    }

    function toDateFromAspNet (dt) {
        var dte = eval("new " + dt.replace(/\//g, '') + ";");
        dte.setMinutes(dte.getMinutes() - dte.getTimezoneOffset());
        return dte;
    }
    $(document).ready(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
        ListarDetalle();
    });

    function ListarDetalle() {

        if (sw == 0) {
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
            sw = 1;
        } else {
            destroyGlobal(gridOptionsDetalle)
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
        }

        $.ajax({
            url: "@Url.Action("ListNPreventiva", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }
</script>


