
@{
    ViewBag.Title = "Notifiacacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fase = @ViewBag.fase;
}
<section class="content-header">
    <h1>
        Listado de Clientes
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Notoficacion Preventiva</h3>
                    <input type="hidden" id="fase" name="fase" value="@ViewBag.fase" />

                    <div class="input-group date pull-right   margin-r-5" style="width:15%">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker">
                    </div>
                    <!-- /.input group -->

                    <input class="btn btn-primary   pull-right   margin-r-5" type="button" value="Buscar" onclick="filtro();" />
                    <input class="btn btn-primary   pull-right   margin-r-5" type="button" value="All" onclick="ViewAll();" />
                    <input class="btn btn-primary   pull-right   margin-r-5" type="submit" value="Exportar excel" onclick="ExportToExcel();" />
                </div>
                <div class="box-body" id="ListaContenidosContainer">
                    <div id="gridDetalle" style="height: 450px;" class="ag-theme-balham"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="emailmodal" class="modal fade in">
        @Html.Partial("_Coreo")
    </div>

</section>
<script>

    function email(id) {
        $.ajax({
            url: "@Url.Action("Email","Home")",
            cahe: false,
            data: {},
            type: "GET"
        }).done(function (html) {
            $("#emailmodal").html(html);
            $('#emailmodal').modal('show');
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log("complete the operation")
        });

    }
    function sms(id) {

    }
    function call(id) {

    }
    var sw = 0;
    function filtro() {
        var dt = $('#datepicker').val();
        var f = new Date(dt);
        if (typeof dt != 'undefined' || dt != "") {
            if (sw == 0) {
                var gridDiv = document.querySelector('#gridDetalle');
                createGlobal(gridOptionsDetalle, gridDiv);
                sw = 1;
            } else {
                destroyGlobal(gridOptionsDetalle)
                var gridDiv = document.querySelector('#gridDetalle');
                createGlobal(gridOptionsDetalle, gridDiv);
            }
            var ft = JSON.stringify({ fecha: f.toISOString() });
            $.ajax({
                url: "@Url.Action("BuscarFecha", "Home")",
                cache: false,
                data: ft,
                type: "POST"
            }).done(function (html) {
                setDataSource(html, gridOptionsDetalle);
                // gridOptionsAsignadas.api.setRowData(html);
            }).fail(function (resp) {
                console.log(resp.responseText);
            }).always(function () {
                console.log(" se ha completado");
            });
        } else {
            $('#datepicker').focus();
            Error("selecione fecha o campo fecha esta vacio");
        }
    } 
    function ViewAll() {
        if (sw == 0) {
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
            sw = 1;
        } else {
            destroyGlobal(gridOptionsDetalle)
            var gridDiv = document.querySelector('#gridDetalle');
            createGlobal(gridOptionsDetalle, gridDiv);
        }
        $.ajax({
            url: "@Url.Action("All", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }

    var columnDefsDetalle = [
        { headerName: 'Couta fija', field: 'MontoCuota', aggFunc: 'sum' },
        { headerName: 'Interes Mora', field: 'SaldoCuota', aggFunc: 'sum' },
        { headerName: 'CantidadCouta', field: 'CantidadCouta', aggFunc: 'count', hide: true, sort: 'asc' },
        { headerName: 'Total', field: 'total', valueGetter: 'data.MontoCuota + data.SaldoCuota', aggFunc: 'sum' },
        { headerName: 'Nro Cuota', field: 'NroCuota' },
        { headerName: 'Telefono', field: 'Telefono' },
        { headerName: 'Fecha Pago', field: 'Fecha'},

        { field: 'NombreCompleto', rowGroup: true, hide: true }
    ];
    var gridOptionsDetalle = {
        columnDefs: columnDefsDetalle,
        defaultColDef: {
            width: 150
        },
        enableRangeSelection: true,
        enableSorting: true,
        enableColResize: true,
        enableFilter: true,
        autoGroupColumnDef: {
            headerName: 'Cod Cliente',
            width: 300,
            field: 'CodCliente'
        },
        groupIncludeFooter: true,
        groupIncludeTotalFooter: true,
        animateRows: true

    };
    function currencyFormatter(params) {
        var dt = params.Fecha;
        if (typeof dt == 'undefined') {
            return '';
        } else {
            return toDateFromAspNet(dt);
        }

    }

    function toDateFromAspNet (dt) {
        var dte = eval("new " + dt.replace(/\//g, '') + ";");
        dte.setMinutes(dte.getMinutes() - dte.getTimezoneOffset());
        return dte;
    }
    $(document).ready(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
        ListarDetalle();
    });

    function ListarDetalle() {
        var gridDiv = document.querySelector('#gridDetalle');
        createGlobal(gridOptionsDetalle, gridDiv);
        sw = 1;
        $.ajax({
            url: "@Url.Action("ListNPreventiva", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }
</script>
