
@{
    ViewBag.Title = "Notifiacacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fase = @ViewBag.fase;
}
<section class="content-header">
    <h1>
        Listado de Clientes
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Notoficacion Preventiva</h3>
                    <input type="hidden" id="fase" name="fase" value="@ViewBag.fase" />
                    <input class="btn btn-primary   pull-right   margin-r-5" type="submit" value="Exportar excel" onclick="ExportToExcel();" />
                </div>
                <div class="box-body" id="ListaContenidosContainer">
                    @Html.Partial("_ListNPreventiva", new List<CB.ENTIDADES.NotiPreventiva>())
                </div>
            </div>
        </div>
    </div>

    <div id="emailmodal" class="modal fade in">
        @Html.Partial("_Coreo")
    </div>

</section>

<script>
    $(document).ready(function (e) {
        Listar();
    });

    function email(id) {
        $.ajax({
            url: "@Url.Action("Email","Home")",
            cahe: false,
            data: {},
            type: "GET"
        }).done(function (html) {
            $("#emailmodal").html(html);
            $('#emailmodal').modal('show');
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log("complete the operation")
        });

    }
    function sms(id) {

    }
    function call(id) {

    }

    function Listar() {

        $.ajax({
            url: "@Url.Action("ListNPreventiva", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            $("#ListaContenidosContainer").html(html);

        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log("complete the operation of Listar clients")
        });
    }


</script>
