@using CB.ENTIDADES
@model List<AsignacionCliente>

<table id="example1" class="table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cod Cliente</th>
            <th>Nombre Cliente</th>
            <th>Codigo Usuario</th>
            <th>Nombre Usuario</th>
            <th>Fecha Asignacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count > 0)
        {

            foreach (var personaAsigandas in Model.OrderBy(s => s.asignacionClienteID))
            {
                <tr>
                    <td>@personaAsigandas.asignacionClienteID</td>
                    <td>@personaAsigandas.CodCliente </td>
                    <td>@personaAsigandas.NombreCliente </td>

                    <td>@personaAsigandas.CodUsuario </td>
                    <td>@personaAsigandas.NombreUsario </td>

                    <td>@personaAsigandas.FechaAsignacion</td>
                    <td>
                        <button type="button" data-id="@personaAsigandas.asignacionClienteID" onclick="Details(@personaAsigandas.asignacionClienteID);" class="btn btn-xs btn-default"><samp class="glyphicon glyphicon-eye-open" /> &nbsp;</button>
                        <button type="button" data-id="@personaAsigandas.asignacionClienteID" onclick="Edit(@personaAsigandas.asignacionClienteID);" class="btn btn-xs btn-warning"><samp class="glyphicon glyphicon-pencil" />&nbsp;</button>
                        <button type="button" data-id="@personaAsigandas.asignacionClienteID" onclick="Delete(@personaAsigandas.asignacionClienteID);" class="btn btn-xs btn-danger"><samp class="glyphicon glyphicon-erase" />&nbsp;</button>

                    </td>
                </tr>

            }
        }
    </tbody>

</table>
<script>
    $(function () {
        $('#example1').DataTable()
        //$('#example2').DataTable({
        //  'paging'      : true,
        //  'lengthChange': false,
        //  'searching'   : false,
        //  'ordering'    : true,
        //  'info'        : true,
        //  'autoWidth'   : false
        //})
    })
</script>